[submodule "MiniProyecto1"]
	path = MiniProyecto1
	url = https://github.com/britval/MiniProyecto1.git
[submodule "introduccion_laravel"]
	path = introduccion_laravel
	url = https://github.com/britval/introduccion_laravel.git
[submodule "practica_clase01"]
	path = practica_clase01
	url = https://github.com/britval/practica_clase01.git
[submodule "Laboratorio_del_Crud"]
	path = Laboratorio_del_Crud
	url = https://github.com/britval/Laboratorio_del_Crud.git
[submodule "Laboratorio_Autenticacion_2FA"]
	path = Laboratorio_Autenticacion_2FA
	url = https://github.com/britval/Laboratorio_autenticacion_2FA.git
